.container {
    background: #10111b;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    background-color: #17192e;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    color: rgb(221, 229, 255);
    width: 90%;
    max-width: 300px;
}

.inputContainer > * + * {
    margin-top: 16px;
}

.button {
    margin-top: 24px;
}