.dialogContent {
  box-sizing: border-box;
  padding: 16px;
  z-index: 100;
}

.dialogHeadline {
  font-size: 20px;
  font-weight: 600;
  color: var(--clr-text-white);
}

.previewImage {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.uploadButton {
  background-color: var(--clr-primary);
  color: var(--clr-text-white);
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.spacer {
  margin-top: 20px;
}

.textarea {
  border-radius: 8px;
  box-sizing: border-box;
  padding: 12px;
  outline: none;
  width: 100%;
  border: none;
  background-color: var(--clr-background);
  color: var(--clr-text-white)
}

.textarea::placeholder {
  color: var(--clr-text-grey)
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.cancelButton {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--clr-text-white);
  box-sizing: border-box;
  padding: 8px 12px;
  cursor: pointer;
}

.cropOuter {
  width: 100%;
  position: relative;
  height: 200px;
}

.cropContainer {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
}