.button {
    height: 35px;
    color: var(--clr-text-white);
    background-color: var(--clr-primary);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 15px;
}

.button:disabled {
    opacity: 50%;
}