.container {
  background-color: var(--clr-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column
}

.contentContainer {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.content > *:last-child {
  margin-bottom: 64px;
}