.topContainer {
  display: flex;
  align-items: center;
}

.profileImage {
  height: 128px;
  width: 128px;
  border-radius: 64px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  height: min-content;
  margin-left: 48px;
}

.usernameContainer {
  display: flex;
  color: var(--clr-text-white);
  align-items: center;
}

.username {
  font-size: 20px;
}

.followButton {
  background-color: var(--clr-primary);
  box-sizing: border-box;
  padding: 8px 0;
  width: 96px;
  color: var(--clr-text-white);
  border-radius: 4px;
  border: none;
  margin-left: 16px;
  font-size: 14px;
}

.profileStatsContainer {
  color: var(--clr-text-white);
  display: flex;
  margin-top: 24px;
}

.profileStatsContainer > p + p {
  margin-left: 12px;
}

.description {
  margin-top: 24px;
  color: var(--clr-text-white)
}

.line {
  margin-top: 24px;
  width: 100%;
  border-top: 1px solid var(--clr-card-background);
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 24px;
  row-gap: 24px;
  margin-top: 24px;
}

.image {
  width: 100%;
}

.imageOverlayContainer {
  position: relative;
  cursor: pointer;
}

.imageOverlayContainer:hover > .imageOverlay {
  height: 100%;
}

.imageOverlay {
  transition: height .4s ease;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(10,10,10, .8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageOverlayItem {
  display: flex;
  align-items: center;
}

.imageOverlayItem + .imageOverlayItem {
  margin-left: 24px;
}

.imageOverlayItem > img {
  height: 24px;
  width: 24px;
}

.imageOverlayItem > p {
  color: var(--clr-text-white);
  margin-left: 4px;
}

.imageDialog {
  display: flex;
}

.imageDialog > img{
  width: 50%;
  border-radius: 8px 0 0 8px;
}

.imageDialogContent {
  width: 50%;
}

.dialogContentAccountContainer {
  display: flex;
  padding: 16px 32px;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid var(--clr-background);
}

.dialogContentAccountContainer > img {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.dialogContentAccountContainer > .dialogUsername {
  color: var(--clr-text-white);
  margin-left: 8px;
  font-size: bold;
  font-size: 16px;
}

.dialogContentAccountContainerButton {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 8px 16px;
  margin-left: 24px;
  cursor: pointer;
}