.container {
    background: var(--clr-background);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainerWrapper {
    width: 90%;
    max-width: 400px;
    color: var(--clr-text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline {
    margin-bottom: 20px;
}

.inputContainer {
    background-color: var(--clr-card-background);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    color: var(--clr-text-white);
    width: 100%;
}

.inputContainer > * + * {
    margin-top: 16px;
}