.headerContainer {
  width: 100%;
  background-color: var(--clr-background);
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  color: var(--clr-text-white);
  justify-content: space-between;
  /* width: 90%; */
  max-width: 600px;
  margin: auto;
}

.buttonBox {
  display: flex;
  align-items: center;
}

.buttonBox > * + * {
  margin-left: 12px;
}
