
.image {
  width: 100%;
}

.imageOverlayContainer {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.imageOverlayContainer:hover > .imageOverlay {
  height: 100%;
}

.imageOverlay {
  transition: height .4s ease;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(10,10,10, .8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageOverlayItem {
  display: flex;
  align-items: center;
}

.imageOverlayItem + .imageOverlayItem {
  margin-left: 24px;
}

.imageOverlayItem > img {
  height: 24px;
  width: 24px;
}

.imageOverlayItem > p {
  color: var(--clr-text-white);
  margin-left: 4px;
}