.topContainer {
  display: flex;
  align-items: center;
}

.profileImage {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  height: min-content;
  justify-content: center;
  margin-left: 20px;
}

.usernameContainer {
  display: flex;
  color: var(--clr-text-white);
  align-items: center;
}

.username {
  font-size: 20px;
}

.profileStatsContainer {
  color: var(--clr-text-white);
  display: flex;
  margin-top: 12px;
}

.profileStatsContainer > p {
  font-size: 12px;
}

.profileStatsContainer > p + p {
  margin-left: 12px;
}

.description {
  margin-top: 24px;
  color: var(--clr-text-white)
}

@media only screen and (min-width: 768px) {
  .profileImage {
    height: 96px;
    width: 96px;
  }

  .nameContainer {
    margin-left: 32px;
  }

  .profileStatsContainer {
    margin-top: 24px;
  }

  .profileStatsContainer > p {
    font-size: 14px;
  }

  .profileStatsContainer > p + p {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .profileImage {
    height: 112px;
    width: 112px;
  }

  .nameContainer {
    margin-left: 40px;
  }
}