.imageDialog {
  display: flex;
}

.imageDialog > img{
  width: 50%;
  border-radius: 8px 0 0 8px;
}

.imageDialogContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialogContentAccountContainer {
  display: flex;
  padding: 16px 32px;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid var(--clr-background);
}

.dialogContentAccountContainer > img {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

.dialogContentAccountContainer > .dialogUsername {
  color: var(--clr-text-white);
  margin-left: 8px;
  font-size: bold;
  font-size: 16px;
}

.dialogContentAccountContainerButton {
  color: var(--clr-primary);
  font-weight: bold;
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 8px 16px;
  margin-left: 24px;
  cursor: pointer;
}

.dialogDescription {
  padding: 16px 32px;
  color: var(--clr-text-white);
}

.dialogCommentContainer {
  padding: 0 32px;
}

.uploadTime {
  padding: 16px 32px;
  color: var(--clr-text-grey);
}

.addCommentContainer {
  border-top: 1px solid var(--clr-text-grey);
  display: flex;
}

.addCommentContainer > input {
  background-color: transparent;
  height: 48px;
  padding: 0 32px;
  color: var(--clr-text-white);
  flex: 1;
  border: none;
  outline: none;
}

.addCommentContainer > input::placeholder{
  color: var(--clr-text-grey)
}

.addCommentContainer > button {
  padding: 0 16px;
  color: var(--clr-primary);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.dialogLikeContainer {
  display: flex;
  align-items: center;
  padding: 0 32px 16px;
}

.dialogLikeContainer > img {
  height: 24px;
  width: 24px;
}

.dialogLikeContainer > p {
  color: var(--clr-text-white);
  margin-left: 12px;
}